<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         beStrictAboutTestsThatDoNotTestAnything="false"
         bootstrap="tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         verbose="true"
>
    <testsuites>
        <testsuite name="Tremendous Test Suite">
            <directory suffix=".php">./tests/</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="TREMENDOUS_ENDPOINT" value="https://testflight.tremendous.com/api/v2/"/>
        <env name="TREMENDOUS_API_TOKEN" value=""/>
        <env name="TREMENDOUS_FUNDING_SOURCE" value=""/>
        <env name="TREMENDOUS_TEST_CAMPAIGN_IDENTIFIER" value="" />
    </php>
</phpunit>